<!DOCTYPE html>
<html lang="dk">

<head>
    <meta charset="UTF-8">
    <title>Vagtoverblik</title>
    <script src="static/js/shifts.js"></script>
    <script src="static/js/account.js"></script>
    <script src="static/js/settings.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/shiftspage.css">
</head>

<body>
    <h1>Vagtoverblik for {{ user["username"] }}</h1>

    <div class="inputsContainer">
        <div class="createShiftContainer">
            <span>Tilføj en vagt</span>
            <br>
            <br>
            <input type="text" id="date" placeholder="Dato" value="{{ default_date }}"><br>
            <input type="text" id="starttime" placeholder="Start tidspunkt"><br>
            <input type="text" id="stoptime" placeholder="Stop tidspunkt"><br>
            <input type="text" id="hourly" placeholder="Timeløn" value="{{ user['hourly'] }}"><br>
            <button onclick="addShift()">Tilføj vagt</button>
        </div>
        <div class="accountActionsContainer">
            <span>Skift adgangskode</span><br>
            <br>
            <input type="text" id="oldPassword" placeholder="Din nuværende adgangskode"><br>
            <input type="text" id="newPassword" placeholder="Din nye adgangskode"><br>
            <button onclick="changePassword()">Skift adgangskode</button><br>
            <br>
            <button onclick="logout()">Log ud</button>
            <button onclick="deleteAccount()">Slet konto</button>
        </div>
        <div class="accountActionsContainer">
            <span>Skift standard timeløn</span><br>
            <br>
            <input type="number" id="newHourly" placeholder="Ny timeløn" value="{{ user['hourly'] }}"><br>
            <button onclick="changeDefaultHourly()">Skift standard timeløn</button>
        </div>
        <div class="accountActionsContainer">
            <span>Skift hvornår beskatning starter</span><br>
            <br>
            <input type="number" id="newTaxStart" placeholder="Hvornår beskatning begynder" value="{{ user['tax_start'] }}"><br>
            <button onclick="changeTaxStart()">Skift hvornår beskatning starter</button>
        </div>
    </div>

    <div id="shifts">
        {% for year in shifts %}
            <h2>{{ year["year"] }} - {{ year["hours"] }} time(r) - {{ year["wage"] }}kr ({{ year["taxed_wage"] }}kr netto)</h2>

            {% for month in year["months"] %}
                <h3>{{ month["month"] }} - {{ month["hours"] }} time(r) - {{ month["wage"] }}kr ({{ month["wage_after_am"] }}kr efter AM-bidrag)</h3>

                {% for shift in month["shifts"] %}
                    <span>{{ shift["date"] }}: {{ shift["start"] }} - {{ shift["stop"] }} - {{ shift["wage"] }}kr ({{ shift["wage_after_am"] }}kr efter AM-bidrag) ({{ shift["hourly"] }}kr i timen) <button onclick=deleteShift("{{ shift['uuid'] }}")>Slet vagt</button></span><br>

                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
</body>

</html>