<!DOCTYPE html>
<html lang="dk">

<head>
    <meta charset="UTF-8">
    <title>Shifts overview for {{ user["username"] }}</title>
    <script src="static/js/shifts.js"></script>
</head>

<body>
    <h1>Shifts overview for {{ user["username"] }}</h1>

    <div id="addshiftbox">
        <input type="text" id="date" placeholder="Dato" value="{{ default_date }}"><br>
        <input type="text" id="starttime" placeholder="Start tidspunkt"><br>
        <input type="text" id="stoptime" placeholder="Stop tidspunkt"><br>
        <input type="text" id="hourly" placeholder="Timeløn" value="{{ user['hourly'] }}"><br>
        <button onclick="addShift()">Tilføj vagt</button>
    </div>

    <div id="shifts">
        {% for year in shifts %}
            <h2>{{ year["year"] }} - {{ year["wage"] }}kr</h2>

            {% for month in year["months"] %}
                <h3>{{ month["month"] }} - {{ month["wage"] }}kr</h3>

                {% for shift in month["shifts"] %}
                    <span>{{ shift["date"] }}: {{ shift["start"] }} - {{ shift["stop"] }} - {{ shift["wage"] }}kr ({{ shift["hourly"] }}kr i timen) <button onclick=deleteShift("{{ shift['uuid'] }}")>Slet vagt</button></span><br>

                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
</body>

</html>